[submodule "rmoss_interfaces"]
	path = rmoss_interfaces
	url = https://github.com/robomaster-oss/rmoss_interfaces
[submodule "rmoss_core"]
	path = rmoss_core
	url = https://github.com/robomaster-oss/rmoss_core
[submodule "rm_vision_ros2_mindvision_camera"]
	path = rm_vision_ros2_mindvision_camera
	url = https://github.com/rm-vision-archive/rm_vision_ros2_mindvision_camera
[submodule "rm_auto_aim"]
	path = rm_auto_aim
	url = https://github.com/rm-vision-archive/rm_auto_aim
[submodule "foxglove/ros-foxglove-bridge"]
	path = foxglove/ros-foxglove-bridge
	url = https://github.com/foxglove/ros-foxglove-bridge
[submodule "magic_enum"]
	path = magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "rm_gimbal_description"]
	path = rm_gimbal_description
	url = https://github.com/rm-vision-archive/rm_gimbal_description
[submodule "rm_serial_driver"]
	path = rm_serial_driver
	url = https://github.com/rm-vision-archive/rm_serial_driver
[submodule "rm_vision"]
	path = rm_vision
	url = https://github.com/Yao-Xinchen/rm_vision
